<div class="row">
  <div class="col-sm-3">
    <select #confSelect (change)="selectedConfEvent(confSelect.value)">
      <option value="Western">
        Western Conference
      </option>
      <option value="Eastern">
        Eastern Conference
      </option>
    </select>
  </div>
  <div class="col-sm-3">
    <select #divisionSelect (change)="selectedDivEvent(divisionSelect.value)">
      <option [value]="division.divisionName" *ngFor="let division of division$ | async">
        {{division.divisionName}}
      </option>
    </select>
  </div>
  <div class="col-sm-6">
    <select #teamSelect>
      <option [value]="team.id" *ngFor="let team of teams$ | async">
        {{team.full_name}}
      </option>
    </select>
    <button class="primary" (click)="trackTeam(teamSelect.value)">Track team</button>
  </div>
</div>
<div class="row">
  <app-team-stats class="col-sm-4" *ngFor="let team of nbaService.getTrackedTeams()" [team]="team">

  </app-team-stats>
</div>
